body
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #16161d;
    color: #ccc;
}

#screen
{
    position: absolute;
    left:0;
    top:0;
}

.hidden
{
    position: absolute;
    top: 0;
    left: -10000px;
}

.github
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    font-family: monospace;
    font-size: 0.8rem;
}

#controls
{
    position: absolute;
    left: 0;
    bottom: 0;
}
